.home-container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}

.filter-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.filter-btn.active {
  background: black;
  color: white;
}

.empty-box {
  text-align: center;
  padding: 40px;
  border: 2px dashed #aaa;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  font-size: 20px;
}

.badge {
  background: green;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.desc {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

.question-time-row {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 12px;
}

.question-preview {
  font-size: 12px;
  color: #777;
  padding-bottom: 10px;
}

.meta {
  white-space: nowrap; 
  font-size: 13px;
  color: rgb(94, 93, 93);
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 10px;
  
}

.btn-primary1 {
  background: green;
  color: white;
  
}

.btn-outline1{
 background:purple;
  color: white;
}

.navbar {
  border-bottom: 2px solid #000;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}